/* Error: expected "{".
 *   ,
 * 2 |     lol
 *   |        ^
 *   '
 *   ressources/liaisons/scss/layout/_equipe.scss 2:8  @import
 *   ressources/liaisons/scss/styles.scss 63:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 2 \2502      lol\a   \2502         ^\a   \2575 \a   ressources/liaisons/scss/layout/_equipe.scss 2:8  @import\a   ressources/liaisons/scss/styles.scss 63:9         root stylesheet';
}
