@charset "UTF-8";
/**
 * @author Laurie Roy
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@font-face {
  font-family: Futura, sans-serif;
  src: url("../fonts/Futura.ttc") format("truetype");
}
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6pxrem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Futura, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8pxrem;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8pxrem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #358ae0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2pxrem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8pxrem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8pxrem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2pxrem;
}

.texte {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6pxrem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #2678B5;
  text-decoration: none;
}
.hyperlien--visited {
  color: rgb(33.5753424658, 106.0273972603, 159.9246575342);
}
.hyperlien--hover {
  color: rgb(20.301369863, 64.1095890411, 96.698630137);
  text-decoration: underline;
}
.hyperlien--active {
  color: #bbd531;
  text-decoration: underline;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.bouton {
  background-color: #bbd531;
  border-radius: 18px;
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
}
.bouton:after {
  content: "»";
  margin-left: 0.4em;
}
.bouton--hover {
  background-color: rgba(187, 213, 49, 0.75);
}
.bouton--active {
  background-color: rgba(187, 213, 49, 0.5);
}
.bouton--inverse {
  background-color: white;
  border: 2px solid #bbd531;
}
.bouton--inverse--hover {
  border-color: rgba(187, 213, 49, 0.75);
}
.bouton--inverse--active {
  border-color: rgba(187, 213, 49, 0.5);
}

/****** LAYOUT ******/
/** Styles généraux de mise en page**/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font: 0.8em Verdana, Arial, Helvetica, sans-serif;
}

.contenu {
  max-width: 960px;
  margin: 0 auto;
}

.page {
  float: left;
  width: 100%;
}
@media only screen and (max-width: 735px) {
  .page {
    float: none;
    width: 100%;
    border-bottom: 1px solid #333;
  }
}

/** Mandat A - Accueil **/
.page {
  background-color: #FFF8DE;
}

.nouvelles {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
}
@media (min-width: 768px) {
  .nouvelles {
    max-width: 80vw;
  }
}

.nouvelles__article {
  display: flex;
  flex-direction: column-reverse;
}
@media (max-width: 768px) {
  .nouvelles__article {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .nouvelles__article {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .nouvelles__article__imageUne {
    width: 50%;
  }
}
.nouvelles__article__imageUne img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nouvelles__article__textes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.nouvelles__article__textes__date {
  color: #D47057;
}
.nouvelles__article__textes .is-layout-flex {
  justify-content: center;
}
.nouvelles__article__textes__entete {
  border-bottom: 1px solid black;
  padding: 0px 0px 20px 0px;
  margin: auto;
  width: 95%;
}
.nouvelles__article__textes__paragraphe {
  color: black;
  font-size: clamp(1.8rem, 2vw, 2rem);
  line-height: 1.8;
  padding: 20px;
}
.nouvelles__article__textes__titre a {
  color: black;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nouvelles__article__textes {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .nouvelles__article:first-of-type,
  .nouvelles__article:nth-of-type(3) {
    flex-direction: row-reverse;
  }
}
.accueil__image {
  width: 100%;
  height: 50vh;
}
.accueil__image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/** Mandat B - Réalisations **/
/** Mandat C - Équipe **/
/** Mandat D - Services **/
/****** MODULES ******/
/** entête de page **/
/* Entete de page */
.entete {
  display: flex;
  flex-direction: row;
  background-color: #82A583;
  align-items: center;
  padding: 20px 20px 0px 20px;
}
.entete__menu {
  width: 50%;
}
@media (min-width: 768px) {
  .entete__menu {
    margin-top: auto;
    padding-bottom: 20px;
  }
}
.entete__logo {
  z-index: 100;
  margin-bottom: -20px;
}
.entete__logoimg {
  z-index: 100;
  width: 100%;
  height: 100%;
}

/** navigation **/
/** pied de page **/
/*pied de page*/
.piedDePage {
  padding: 0px 5% 20px 5%;
  margin: 0 auto;
  background-color: #82A583;
  border-top: 1px solid #333;
  color: white;
  clear: both;
}
.piedDePage__politique {
  margin: auto;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.piedDePage__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}
@media (min-width: 768px) {
  .piedDePage__container {
    justify-content: center;
    gap: 10%;
    text-align: left;
  }
}
.piedDePage__container hr {
  width: 100%;
  margin: 0;
  color: white;
}
@media (min-width: 768px) {
  .piedDePage__container hr {
    width: 2px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .piedDePage__container {
    flex-direction: column;
    gap: 20px;
  }
}
.piedDePage__container__section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .piedDePage__container__section1 {
    align-items: left;
  }
}
.piedDePage__container__section2__reseaux {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.piedDePage__container__section2__reseaux__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.piedDePage__container__section2__reseaux__container img {
  width: 50px;
  height: auto;
  margin: auto;
}
.piedDePage h2 {
  margin: 0;
  padding: 10px;
  font-size: clamp(1rem, 2vw, 2rem);
  text-decoration: underline;
  text-align: center;
}
@media (min-width: 768px) {
  .piedDePage h2 {
    text-align: left;
  }
}

/** article WP **/
.article {
  padding-right: 8px;
  margin-bottom: 10px;
}
/** MenuWP **/
/**
 * @author Prénom Nom courriel
 * @todo ADAPTER ce fichier selon le projet
**/
/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Si le javascript est activé
 */
/****** Base commune *******/
/* Bouton du menu (injecté par JavaScript)*/
.navigation {
  max-width: 960px;
  margin: 0 auto;
}
.navigation__controle {
  background: transparent;
  border: none;
  padding: 10px;
  min-width: 40px;
  margin-left: auto;
  display: flex;
}
@media (min-width: 601px) {
  .navigation__controle {
    display: none;
  }
}
.navigation__libelle {
  color: white;
  font-size: clamp(7.5rem, 4vw, 8rem);
}

/* Liens du menu */
.menu-item a {
  display: block;
  padding: 5px 10px;
  width: 100%;
  /*     outline: none;
       border-left: 5px solid #f5ae09;*/
}
@media (min-width: 601px) {
  .menu-item a {
    font-size: clamp(2rem, 2vw, 3rem);
  }
}
.menu-item a:link, .menu-item a:visited {
  text-decoration: none;
  color: inherit;
}
/* Liste du menu */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: none;
}

@media (min-width: 601px) {
  .menu-item {
    display: inline-block;
  }
}

/* Si le javascript est activé */
/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si JavaScript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */
.js .menu {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s;
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .js .menu {
    position: absolute;
    font-size: clamp(4rem, 2vw, 5rem);
    text-align: end;
    flex-direction: column;
    background-color: #82A583;
    width: 100%;
    right: 0;
    z-index: 0;
    height: 100vh;
    transition: max-height 0.5s;
    color: white;
  }
}

.js .navigation--ferme .menu {
  max-height: 0;
  color: white;
}
@media (min-width: 601px) {
  .js .navigation--ferme .menu {
    max-height: none;
  }
}

/** Carousel **/
.liens_caches {
  display: none;
}

/** Navigation latérale **/
/** barres latérales  optionnelles**/

/*# sourceMappingURL=styles.css.map */
