/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/

@font-face {
  font-family: Futura, sans-serif;
  src: url("../fonts/Futura.ttc") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Text:ital@0;1&family=Judson:ital,wght@0,400;0,700;1,400&display=swap");

$fontePrimaire: "Judson", serif;
$fonteSecondaire: "Abel", sans-serif;
.menu-item a {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuMoyen: #358ae0;
$bleuPale: #68a8e8;
$vertLime: #bbd531;
$bleuMinuit: #012d61;
$bleuMarin: #2678b5;
$saumon: #d47057;
$bleuMoyenTransparent: transparentize($bleuMoyen, 0.5);

/* Autres couleurs */
$hyperlien: $bleuMarin;

/** Points de rupture **/
$desktop: 601px;
