.equipe__texte {
  display: none;
}

.equipe_imgequipe figure {
  width: 100%;
  margin: 0;
  padding: 0;
}
.equipe__title {
  display: none;
}
.equipe__h1 {
  font-size: 55px;
  margin: 20px;
}
.equipe__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/legumes_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 50px;
}
.equipe {
  &__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 23px;
  }
}
.equipe__infos {
  &__titre {
    font-family: $fontePrimaire;
    font-size: 30px;
    text-decoration: none;
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    width: 390px;
    border-bottom: 1px solid;
  }
  &__titre_du_membre {
    font-family: $fontePrimaire;
    font-size: 28px;
    color: $saumon;
    margin: 20px;
    &__link {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__ensavoirplus__bouton {
      gap: 0.5rem;
      padding: 0.5rem 3rem;
      font-family: $fontePrimaire;
      font-size: 24px;
      padding: 12px;
      background-color: $blanc;
      border: 1px solid;
      border-radius: 12px;
      box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.215);
      text-decoration: none;
      margin-bottom: 65px;
      a:link {
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
      a:active {
        text-decoration: none;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .svg__fleche {
    fill: black;
  }
}

////// FORMAT TABLE ////////////
///
///
@media (min-width: 768px) {
  .equipe__page {
    background-image: url("../images/legumes_table.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50px;
    background-attachment: fixed;
    width: 100%;
  }

  .equipe__h1 {
    font-size: 96px;
    align-content: left;
  }

  .equipe {
    display: flex;
    margin-top: 2em;

    &__infos {
      align-items: left;
      text-align: left;
      gap: 3em;
      margin-left: 2em;
      margin-right: 2em;
    }
    &__image {
      margin-bottom: 6em;
    }
  }

  .equipe__infos {
    &__titre_du_membre {
      margin-left: 0;
    }
    &__image {
      margin-bottom: 6em;
    }
  }

  .equipe:nth-of-type(2) {
    flex-direction: row-reverse;
  }
}

////// SINGLE EQUIPE ////////////////////////////////////////////
///
///
///

.equipesingle {
  background-color: $beigeFond;
  background-image: url("../images/legumes_table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50px;
  background-attachment: fixed;
  width: 100%;
  &__piedPage {
    &__author {
      display: none;
    }
    &__date {
      display: none;
    }
  }
}

.equipesinglearticle__titre {
  font-size: 55px;
  text-align: center;
  margin: auto;
  max-width: 80vw;
  padding: 20px;
}

.equipesingle__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 23px;
}
.equipesingle__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0px;
  &__titre {
    font-family: $fontePrimaire;
    font-size: 30px;
    text-decoration: none;
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    width: 390px;
    border-bottom: 1px solid;
  }
}

.equipesingle__navsequentielle {
  width: 100%;

  &__nav-button {
    font-size: 18px;
    gap: 0.5rem;
    padding: 0.5rem 3rem;
    font-family: $fontePrimaire;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: $blanc;
    border: 1px solid;
    border-radius: 12px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.215);
    text-decoration: none;
    margin-bottom: 65px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(175, 175, 175);
    }

    &__prev-button {
      margin-right: auto;
    }

    &__next-button {
      margin-left: auto;
    }
  }
}
////// SINGLE EQUIPE FORMAT TABLE ////////////////////////////////////////////
///
@media (min-width: 768px) {
  .equipesingle {
    background-color: $beigeFond;
    background-image: url("../images/legumes_table.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50px;
    background-attachment: fixed;
    width: 100%;
    &__article {
      display: flex;
      margin: auto;
      max-width: 80vw;
      flex-wrap: wrap;
    }
    &__titre {
      font-size: 80px;
      text-align: left;
      margin: auto;
      max-width: 80vw;
      padding: 20px;
    }
  }

  .equipesingle__image figure {
    margin: 0;
    padding: 0;
  }
  .equipesingle__image {
    width: 50%;
  }

  .equipesingle__image img {
    margin: 0;
    padding: 0;
    margin-bottom: 6em;
    height: auto;
  }
  .equipesingle__infos {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 6em;
    padding-left: 20px;
    width: 50%;
  }
}
