/*pied de page*/
.piedDePage{
  max-width: 960px;
  margin: 0 auto;
  background-color: #eee;
  border-top: 1px solid #333;
  clear: both;
  h2{
    margin: 0;
    padding: 10px;
    font-size: 1em;

  }
}

