/* DONNÉES DE BASE */
/* Couleurs de base */
$bleuMoyen: #358ae0;
$bleuPale: #68a8e8;
$vertLime: #bbd531;
$bleuMinuit: #012d61;
$bleuMarin: #2678b5;
$saumon: #d47057;
$blanc: #ffffff;
$noir: #000000;
$gris: #666666;
$background: #FFF8DE;

/* Textes */
$fontePrimaire: "Judson", serif;
$fonteSecondaire: "Abel", sans-serif;



// Page Nos Réalisations
.page__realisations,
.page__single__realisation {
text-align: center;
background-color: $background;
padding: 10px;

//Images légumes
background-image: url("../images/legumes_mobile.png");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center 50px;
}

@media screen and (min-width: 800px)  {
.page__realisations,
.page__single__realisation {
  background-color: $background;
  background-image: url("../images/legumes_table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50px;
  background-attachment: fixed;
}
}

//Titre
.h2__realisations {
    text-align: center;
    text-transform: lowercase;
    text-transform: capitalize;
    font-size: 40px;
  }
  @media screen and (min-width: 800px) {
    .h2__realisations {
        font-size: 80px;
    }
}
   
  .titre__realisations {
    border-bottom: 1px solid $noir;
    width: 100%;
    margin-top: 4em;
  }
   
  //ARTICLES
  .article_realisations {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
  }
  @media screen and (min-width: 800px) {
    .article_realisations {
      width: 55%;
      margin: auto;
    }
  }
   
  .article__titre {
    margin-bottom: 5px;
    font-size: 24px;
  }
  @media screen and (min-width: 800px) {
    .article__titre {
        font-size: 36px;
    }
}
  //h2
  .article__lien {
    text-decoration: none;
    text-transform: lowercase;
    text-transform: capitalize;
    color: $noir;
  }
   
  .nom__client {
    color: $saumon;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid $noir;
  }
   
  // Bouton
.bouton__realisations {
    align-self: center;
    background-color: #ffffff;
    color: $noir;
    text-decoration: none;
    padding: 10px 20px;
    width: 120px;
    border: 0.5px solid $noir;
    border-radius: 8px;
    box-shadow: 2.2px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  // GRID TABLE ET MOBILE
  // Alternance des images et du texte gauche-droite
  .realisations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  .article__image {
    width: 100%;
    padding-top: 60px;
  }
  @media screen and (min-width: 800px) {
    .article__image {
      padding-bottom: 40px;
    }
  }
   
  // Retour en colonne au format mobile
  @media screen and (min-width: 800px) {
      .realisations-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
          align-items: center;
      }
      
      .article_realisations {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      
      .realisations-container:nth-child(even) {
          grid-template-areas: "text image";
      }
      
      .realisations-container:nth-child(odd) {
          grid-template-areas: "image text";
      }
      
      .article__image {
          grid-area: image;
          width: 100%;
          height: auto;
      }
  }


// PAGE SINGLE REALISATION
//image
.single-realisation {
    &__image-haut-page {
      position: relative;
      display: inline-block;
      width: 100%;
      max-height: 400px;
      overflow: hidden;
  
      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
  
    &__entete-sur-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $noir;
      text-align: center;
    }
  }
  

.single-realisation {
    &__titre {
      font-family: $fontePrimaire;
      font-size: clamp(32px, 3vw, 48px);
      font-weight: bold;
      margin-bottom: 0.2em;
      text-transform: capitalize;
    }
  
    &__client {
      font-family: $fontePrimaire;
      font-size: 32px;
      font-weight: bold;
      margin-top: 15px;
      text-transform: capitalize;
    }
  
    &__mandat,
    &__realisations {
      font-family: $fontePrimaire;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: $saumon;
    }
  
    &__texte {
      font-family: $fonteSecondaire;
      font-size: 20px;
      text-align: center;
    }
  }
  

//Carousel
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  
    &__controle {
      background: none;
      border: none;
      font-size: 4rem;
      color: $noir;
      cursor: pointer;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  

//article auteur + publication
.article__piedPage {
  text-align: center;
  margin-bottom: 2em;
  color: $gris;
}

//Navigation séquentielle
.realisationsingle__navsequentielle {
        width: 100%;
        margin-left: 5px;
        padding-top: 40px;
        align-items: center;
        
      
        &__nav-button {
          font-size: 18px;
          gap: 0.5rem;
          padding: 0.5rem 3rem;
          font-family: $fontePrimaire;
          font-size: 16px;
          color: rgb(0, 0, 0);
          background-color: $blanc;
          border: 1px solid;
          border-radius: 12px;
          box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.215);
          text-decoration: none;
          margin-bottom: 65px;
          cursor: pointer;
          transition: background-color 0.3s;
      
          &:hover {
            background-color: rgb(175, 175, 175);
          }
      
          &__prev-button {
            text-align: left;

          }
      
          &__next-button {
            margin-left: auto;
          }
        }
      }
  